<!-- Clicking on a recipe title takes you to the 
    recipe detail page, and clicking on the author name 
    takes you to the author detail page -->
<a href="/">home</a>
<a href="/addrecipe">add recipe</a>
<a href="/addauthor">add Author</a>

<!-- <h1>recipe</h1>
<h2>{{stories}}</h2> -->


<h1>{{ stories.title }}</h1>
<span>
    Favorited: {{ stories.is_fave  }}
</span>
<h2>What it is: {{ stories.description}}</h2>
<h2>How long: {{ stories.time_required }}</h2>
<h2>How to make: {{ stories.instructions}}</h2>
<h2>Chef: <a href="/author/{{ stories.author.id }}">{{ stories.author.name}}</a></h2>

{% if disabled %}
    <form action="/editrecipe/{{stories.id}}">
        <button type="submit" disabled>Edit Recipe</button>
    </form>
{% else %}
    {% if stories.is_fave %}
        <form action="/favorite/{{stories.id}}">
            <button type="submit">Unfave</button>
        </form>
    {% else %}
        <form action="/favorite/{{stories.id}}">
            <button type="submit">Fave</button>
        </form>
    {% endif %}
    <form action="/editrecipe/{{stories.id}}">
        <button type="submit">Edit Recipe</button>
    </form>
{% endif %}